@font-face {
    font-family: 'Lato', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Lato&display=swap');
    
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    height: 100%;
}

body{
    margin: 0;
    color: white;
    font-family: 'Lato';
    background: linear-gradient(45deg, #2ecc71, #16a085);
    font-size: 30px;
    
    
}

.header {
    grid-area: header;
    width: 100%;
    border: 1px;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
    
}

.main {
    border: 1px;
    border-style: solid;
    grid-area: main;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
	}

h1{
    padding: 10px;
    font-size: 40px;
}
h2{
    font-size: 30px;
}

#windkmh, #windr{
    margin-top: 29.88px;
    margin-left: 14px;
    margin-right: 14px;
}


.wrapper {
    margin: auto;
    display: grid;
    text-align: center;
    grid-template-areas:
        "header"
        "main"
        "chat";
     
}
#article1{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}
#mapContainer{
    padding-bottom: 10px;
    width: 800px; 
    height: 600px
    
}


/*chatbot*/
#demo{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

.chatBotChatEntry {
    padding: 20px;
    background-color: #fff;
    border: none;
    margin-top: 5px;
    font-family: 'open_sanslight', sans-serif !important;
    font-size: 17px;
    font-weight: normal;
}

.chatBotChatEntry * {
    font-family: 'open_sanslight', sans-serif !important;
    font-size: 17px;
    font-weight: normal;
}

.chatBotChatEntry .origin {
    font-weight: bold;
    margin-right: 10px;
}
.chatBotChatEntry .imgBox {
    position: relative;
    width: 32%;
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    height: 218px;
    overflow: hidden;
}
.chatBotChatEntry .imgBox .actions .button {
    
    font-size: 18px;
    padding-bottom: 10px;
    width: 20%;
      margin-left: auto;
    margin-right: auto;
  background-color: #1D809F !important;
  border-color: #1D809F !important;
  color: #fff !important;
}

.button:hover, .button:focus, .bbutton:active {
  background-color: #155d74 !important;
  border-color: #155d74 !important;
}

.chatBotChatEntry .imgBox .actions {
    position: absolute;
    display: none;
    top: 31px;
    width: 100%;
    text-align: center;
}
.chatBotChatEntry .imgBox:hover .actions {
    display: block;
}
.chatBotChatEntry .imgBox .title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    color: #fff;
    background-color: #333;
    font-weight: normal;
    font-size: 16px;
}

.chatBotChatEntry .imgBox img {
    width: 100%;
}

.bot {
    /*border: 4px solid rgba(0, 132, 60, 0.2);*/
    background-color: rgba(0, 132, 60, 0.2);
}
.human {
    /*border: 4px solid rgba(38, 159, 202, 0.2);*/
    background-color: rgba(38, 159, 202, 0.2);
}

#humanInput{
    display: block;
    width: 100%;
    background: white;
    font-size: 15px;
    color: #1b3815;
    line-height: 1.2;
    width: 300px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#chatBotCommandDescription {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: none;
}
.commandDescription span.phraseHighlight {
    color: chartreuse;
}
.commandDescription span.placeholderHighlight {
    color: deeppink;
}
.commandDescription {
    margin-top: 5px;
}

#chatBotConversationLoadingBar {
    background-color: darkcyan;
    height: 2px;
    width: 0;
}

.appear {
    animation-duration: 0.2s;
    animation-name: appear;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (min-width: 576px) { 
    h1{
        font-size: 44px;
    }
    h2{
        font-size: 34px;
    }
    
}

@media (min-width: 767px) {
   h1{
        font-size: 46px;
    }
    h2{
        font-size: 36px;
    }
    body{
    font-size: 36px;
    }
}

@media (min-width: 992px) {
    h1{
        font-size: 48px;
        
    }
    h2{
        font-size: 38px;
    }
    body{
    font-size: 38px;
    }
}

@media (min-width: 1200px) {
   h1{
        font-size: 50px;
    }
    h2{
        font-size: 40px;
    }
    body{
    font-size: 40px;
    }
}
